@charset "utf-8";
.top {
    width: 100%;
    height: 65px;
    color: #FFFFFF;
	background-color: #C00000;
}
#tutorial p {
    padding-bottom: 5px;
    padding-top: 5px;
}
#tutorial {
    text-align: right;
    font-size: xx-large;
    width: 100%;
	height: auto;
	background-color: #C00000;
    color: white;
}
#tutorial img {
    float: left;
    padding-left: 10px;
    overflow-y: hidden;
}
.top #toptitle {
    padding-top: 25px;
    padding-left: 5px;
    float: left;
    width: 50%;
    font-size: xx-large;
    text-align: center;
}
#openNavigation {
float: right;
}
#Navigation {
    width: 70%;
    height: 100%;
    z-index: 1;
    display: none;
    float: right;
    padding-top: 70px;
    padding-bottom: 350px;
    background-color: #C00000;
    color: white;
}
.RightNavigation:hover #Navigation {
    display: block;
}
tbody tr th {
    height: 100px;
}
.recommendation {
    width: 100%;
	height: auto;
}
tr th p {
    font-size: xx-large;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: white;
}
.halfleft {
	float:left;
	width:50%;
	margin-top: 8px;
}
.halfright {
	float:right;
	width:50%;
	margin-top: 8px;
}
.img {
	width:100%;
	height:auto;
}
.imgbox{
    width: 100%;
    height: auto;
	position: relative
}