@charset "utf-8";
.top {
    width: 100%;
    height: 50px;
    color: #FFFFFF;
}
div {
    background-color: #C00000;
    color: white;
}
#tutorial p {
    padding-bottom: 19px;
    padding-top: 10px;
}
#tutorial {
    text-align: right;
    font-size: xx-large;
}

#tutorial img {
    float: left;
    padding-left: 10px;
    overflow-y: hidden;
}
.top #toptitle {
    padding-top: 25px;
    padding-left: 5px;
    float: left;
    width: 50%;

}
.top #RightNavigation {
    float: right;
}
#Navigation {
    width: 80%;
    height: 100%;
    z-index: 1;
    float: right;
    position: absolute;
    display: none;
}
.RightNavigation:hover.Navigation {
    display: block;
}.recommendation {
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}#DisPlay {
    float: left;
}
#subscription {
}
